@media (max-width:773px){
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'roboto';
    margin: 0;
}

.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(292deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);;
    animation: loader 0.01s;
    animation-delay: 3s;
    animation-fill-mode: both;
    z-index: 1000000;
    display:flex;
    align-items:center;
    justify-content:center;
}

.loader__itemContainer {
        height: 1rem;
        width: 1rem;
        border-radius: 1rem;
        animation-iteration-count: 1;
        display: flex;
        width: 5rem;
        justify-content: space-between;
}

.spinner{
    height: 50px;
    width: 50px;
    border: 3px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spin 1.3s linear infinite;
}

@keyframes spin {
to {
    transform: rotate(360deg);
}
}
        

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  }  



.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header img{
    width: 200px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #9356DC;
}

.logo-header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 1px rgb(180, 180, 180);
    z-index: 99;
}

.localisation-header{
    display: flex;
    width: 100%;
    height: 65px;
    justify-content: center;
    gap: 30px;
    align-items: center;
    font-size: 19px;
    background-color: rgb(237, 237, 237);
}

.localisation-header svg{
    height: 25px;
}

.intro{
    background-color: rgb(247, 247, 247);
    height: 300px;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 50px;
}

.intro h1{
    margin-top: 0;
    padding-top: 20px;
    font-size: 25px;
    width: 65%;
    text-align: center;
}

.intro p{
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    width: 80%;
}

.intro button{
    background: linear-gradient(180deg, #FF79DA 0%, transparent) #9356DC;
    box-shadow: 1px 1px 10px 1px rgb(204, 204, 204);
    color: #FFF;
    border: none;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 20px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.intro button:hover, .intro button:focus{
    background-color: #ff79d9b9;
    box-shadow: 3px 3px 10px 3px rgb(181, 181, 181);
    color: #fff;
}

h2{
    margin: 40px 0 30px 30px;
}

.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.card1{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-radius: 25px;
}

.card1:hover{
    background-color: #9256dc1b;
}

.card2{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-radius: 25px;
}

.card2:hover{
    background-color: #9256dc1b;
}

.card3{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 80px;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgb(251, 251, 251);
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-radius: 25px;
}

.card3:hover{
    background-color: #9256dc1b;
}

.number-style{
    background-color: #9356DC;
    padding: 8px 13px;
    margin-left: -15px;
    color: #FFF;
    border-radius: 150px;
}

.cards svg{
    height: 25px;
    fill: gray;
}

.cards svg:hover{
    height: 25px;
    fill: #9356DC;
}

.cards:hover, .card1:hover svg{
    fill: #9356DC;
}

.cards:hover, .card2:hover svg{
    fill: #9356DC;
}

.cards:hover, .card3:hover svg{
    fill: #9356DC;
}

.restaurants{
    margin-top: 100px;
    background-color: rgb(247, 247, 247);
    height: 100%;
    padding-bottom: 100px;
}

.restaurants h2{
    padding-top: 70px;
}

.container-palette{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-palette > div{
    width: 80%;
}

.palette-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-palette .new{
    position: absolute;
    margin: 15px -48% 0 0;
    text-decoration: none;
    font-weight: 500;
    color: #307765;
    background-color: #99E2D0;
    padding: 0;
    border-radius: 3px;
    width: 100px;
    text-align: center;
}

.palette-image img{
    width: 100%;
    max-height: 180px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.palette-like svg{
    height: 30px;
    transition: all 0.2s;
}

.palette-like .heart {
	width: 24px;
	height: 24px; 
	background: #3e3e3e;
    -webkit-clip-path: path('M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181'); 
    /* clip-path: path('M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z'); */
	transform: scale(1);
    transition: all 0.2s ease;
}

.palette-like .heart:hover {
	width: 24px;
	height: 24px; 
	background: linear-gradient(292deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%); 
    -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
	/* clip-path: path('M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z'); */
	transform: scale(1.2);
    cursor: pointer;
}

.palette-like svg:hover{
    height: 35px;
    fill: #FF79DA;
}


.palette-bot{
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.palette-texte{
    padding: 15px 0 10px 15px;
    line-height: 15px;
}

.palette-like{
    padding-right: 25px;
}

.text-top{
    font-weight: 800;
    font-size: 23px;
}

.text-bot{
    font-weight: 200;
    font-size: 23px;
}

.container-note{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container-note > div{
    width: 80%;
}

.note-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-note .new{
    position: absolute;
    margin: 15px -48% 0 0;
    text-decoration: none;
    font-weight: 500;
    color: #307765;
    background-color: #99E2D0;
    padding: 0;
    border-radius: 3px;
    width: 100px;
    text-align: center;
}

.note-image img{
    width: 100%;
    max-height: 180px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.note-bot{
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.note-texte{
    padding: 15px 0 10px 15px;
    line-height: 15px;
}

.text-top{
    font-weight: 800;
    font-size: 23px;
}

.text-bot{
    font-weight: 200;
    font-size: 23px;
}


.container-francaise{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container-francaise > div{
    width: 80%;
}

.francaise-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.francaise-image p{
    display: none;
    
    right: 13%;
    text-decoration: none;
    font-weight: 500;
    color: #307765;
    background-color: #99E2D0;
    padding: 10px;
    border-radius: 3px;
}

.francaise-image img{
    width: 100%;
    max-height: 180px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.francaise-bot{
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.francaise-texte{
    padding: 15px 0 10px 15px;
    line-height: 15px;
}

.text-top{
    font-weight: 800;
    font-size: 23px;
}

.text-bot{
    font-weight: 200;
    font-size: 23px;
}

.container-sens{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.container-sens > div{
    width: 80%;
}

.sens-image{
    display: flex;
    justify-content: center;
    width: 100%;
}

.sens-image p{
    display: none;
    position: absolute;
    top: 1418px;
    right: 13%;
    text-decoration: none;
    font-weight: 500;
    color: #307765;
    background-color: #99E2D0;
    padding: 10px;
    border-radius: 3px;
}

.sens-image img{
    width: 100%;
    max-height: 180px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.sens-bot{
    background-color: #FFF;
    box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sens-texte{
    padding: 15px 0 10px 15px;
    line-height: 15px;
}

.text-top{
    font-weight: 800;
    font-size: 23px;
}

.text-bot{
    font-weight: 200;
    font-size: 23px;
}

.footer{
    position: relative;
    background-color: #3e3e3e;
    height: 300px;
}

.footer img{
    height: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.footer > ul{
    list-style-type: none;
    margin: 0;
}

.footer > ul > li > a > svg{
    height: 20px;
    fill: #FFF;
}

.footer > ul > li > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #FFF;
    line-height: 35px;
    font-size: 18px;
    text-decoration: none;
}
}

@media (min-width:774px){
    html{
        scroll-behavior: smooth;
    }
    
    body{
        font-family: 'roboto';
        margin: 0;
    }
    
    .loader {
        position: fixed;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background: linear-gradient(292deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);;
        animation: loader 0.01s;
        animation-delay: 3s;
        animation-fill-mode: both;
        z-index: 1000000;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    
    .loader__itemContainer {
            height: 1rem;
            width: 1rem;
            border-radius: 1rem;
            animation-iteration-count: 1;
            display: flex;
            width: 5rem;
            justify-content: space-between;
    }
    
    .spinner{
        height: 50px;
        width: 50px;
        border: 3px solid;
        border-color: white transparent white transparent;
        border-radius: 50%;
        animation: spin 1.3s linear infinite;
    }
    
    @keyframes spin {
    to {
        transform: rotate(360deg);
    }
    }
            
    
    @keyframes loader {
        100% {
          opacity: 0;
          z-index: -10;
        }
      }  
    
    
    
    .header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .header img{
        width: 200px;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    a:hover{
        color: #9356DC;
    }
    
    .logo-header{
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px 1px rgb(180, 180, 180);
        z-index: 99;
    }
    
    .localisation-header{
        display: flex;
        width: 100%;
        height: 65px;
        justify-content: center;
        gap: 30px;
        align-items: center;
        font-size: 19px;
        background-color: rgb(237, 237, 237);
    }
    
    .localisation-header svg{
        height: 25px;
    }
    
    .intro{
        background-color: rgb(247, 247, 247);
        height: 300px;
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        padding-top: 50px;
    }
    
    .intro h1{
        margin-top: 0;
        padding-top: 20px;
        font-size: 25px;
        width: 65%;
        text-align: center;
    }
    
    .intro p{
        font-weight: 200;
        font-size: 18px;
        text-align: center;
        width: 80%;
    }
    
    .intro button{
        background: linear-gradient(180deg, #FF79DA 0%, transparent) #9356DC;
        box-shadow: 1px 1px 10px 1px rgb(204, 204, 204);
        color: #FFF;
        border: none;
        padding: 20px 30px;
        border-radius: 50px;
        font-size: 15px;
        margin-top: 20px;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
    }
    
    .intro button:hover, .intro button:focus{
        background-color: #ff79d9b9;
        box-shadow: 3px 3px 10px 3px rgb(181, 181, 181);
        color: #fff;
    }
    
    h2{
        margin: 40px 0 30px 30px;
    }
    
    .cards{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        gap: 40px;
        width: 90%;
        margin-left: 5%;
    }
    
    .card1{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 80px;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        background-color: rgb(251, 251, 251);
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-radius: 25px;
    }
    
    .card1:hover{
        background-color: #9256dc1b;
    }
    
    .card2{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 80px;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        background-color: rgb(251, 251, 251);
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-radius: 25px;
    }
    
    .card2:hover{
        background-color: #9256dc1b;
    }
    
    .card3{
        display: flex;
        flex-direction: row;
        width: 70%;
        height: 80px;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        background-color: rgb(251, 251, 251);
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-radius: 25px;
    }
    
    .card3:hover{
        background-color: #9256dc1b;
    }
    
    .number-style{
        background-color: #9356DC;
        padding: 8px 13px;
        margin-left: -15px;
        color: #FFF;
        border-radius: 150px;
    }
    
    .cards svg{
        height: 25px;
        fill: gray;
    }
    
    .cards svg:hover{
        height: 25px;
        fill: #9356DC;
    }
    
    .cards:hover, .card1:hover svg{
        fill: #9356DC;
    }
    
    .cards:hover, .card2:hover svg{
        fill: #9356DC;
    }
    
    .cards:hover, .card3:hover svg{
        fill: #9356DC;
    }
    
    .restaurants{
        margin-top: 100px;
        background-color: rgb(247, 247, 247);
        height: 100%;
        padding-bottom: 100px;
    }
    
    .restaurants h2{
        padding-top: 70px;
    }

    .containers{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .containers h2{
        flex: 1 1 2000px;
    }
    
    .container-palette{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .container-palette > div{
        width: 92%;
    }
    
    .palette-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .container-palette .new{
        position: absolute;
        margin: 15px -354px 0 0;
        text-decoration: none;
        font-weight: 500;
        color: #307765;
        background-color: #99E2D0;
        padding: 0;
        border-radius: 3px;
        width: 100px;
        text-align: center;
    }
    
    .palette-image img{
        width: 100%;
        max-height: 180px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .palette-like svg{
        height: 30px;
        transition: all 0.2s;
    }
    
    .palette-like .heart {
        width: 24px;
        height: 24px; 
        background: #3e3e3e; 
        -webkit-clip-path: path('M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181'); 
        /* clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181"); */
        transform: scale(1);
        transition: all 0.2s ease;
    }
    
    .palette-like .heart:hover {
        width: 24px;
        height: 24px; 
        background: linear-gradient(292deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%); 
        -webkit-clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); 
        /* clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"); */
        transform: scale(1.2);
        cursor: pointer;
    }
    
    .palette-like svg:hover{
        height: 35px;
        fill: #FF79DA;
    }
    
    
    .palette-bot{
        background-color: #FFF;
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .palette-texte{
        padding: 15px 0 10px 15px;
        line-height: 15px;
    }
    
    .palette-like{
        padding-right: 25px;
    }
    
    .text-top{
        font-weight: 800;
        font-size: 23px;
    }
    
    .text-bot{
        font-weight: 200;
        font-size: 23px;
    }
    
    .container-note{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .container-note > div{
        width: 92%;
    }
    
    .note-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .container-note .new{
        position: absolute;
        margin: 15px -354px 0 0;
        text-decoration: none;
        font-weight: 500;
        color: #307765;
        background-color: #99E2D0;
        padding: 0;
        border-radius: 3px;
        width: 100px;
        text-align: center;
    }
    
    .note-image img{
        width: 100%;
        max-height: 180px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .note-bot{
        background-color: #FFF;
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .note-texte{
        padding: 15px 0 10px 15px;
        line-height: 15px;
    }
    
    .text-top{
        font-weight: 800;
        font-size: 23px;
    }
    
    .text-bot{
        font-weight: 200;
        font-size: 23px;
    }
    
    
    .container-francaise{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .container-francaise > div{
        width: 92%;
    }
    
    .francaise-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .francaise-image p{
        display: none;
        position: absolute;
        top: 1418px;
        display: none;
        right: 13%;
        text-decoration: none;
        font-weight: 500;
        color: #307765;
        background-color: #99E2D0;
        padding: 10px;
        border-radius: 3px;
    }
    
    .francaise-image img{
        width: 100%;
        max-height: 180px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .francaise-bot{
        background-color: #FFF;
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .francaise-texte{
        padding: 15px 0 10px 15px;
        line-height: 15px;
    }
    
    .text-top{
        font-weight: 800;
        font-size: 23px;
    }
    
    .text-bot{
        font-weight: 200;
        font-size: 23px;
    }
    
    .container-sens{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    
    .container-sens > div{
        width: 92%;
    }
    
    .sens-image{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .sens-image p{
        display: none;
        position: absolute;
        top: 1518px;
        display: none;
        right: 13%;
        text-decoration: none;
        font-weight: 500;
        color: #307765;
        background-color: #99E2D0;
        padding: 10px;
        border-radius: 3px;
    }
    
    .sens-image img{
        width: 100%;
        max-height: 180px;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    
    .sens-bot{
        background-color: #FFF;
        box-shadow: 1px 1px 10px 1px rgb(231, 231, 231);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .sens-texte{
        padding: 15px 0 10px 15px;
        line-height: 15px;
    }
    
    .text-top{
        font-weight: 800;
        font-size: 23px;
    }
    
    .text-bot{
        font-weight: 200;
        font-size: 23px;
    }
    
    .footer{
        position: relative;
        background-color: #3e3e3e;
        height: 300px;
    }
    
    .footer img{
        height: 20px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .footer > ul{
        list-style-type: none;
        margin: 0;
    }
    
    .footer > ul > li > a > svg{
        height: 20px;
        fill: #FFF;
    }
    
    .footer > ul > li > a{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: #FFF;
        line-height: 35px;
        font-size: 18px;
        text-decoration: none;
    }
}
